/* =====
GLOBAL
======================================   */

* {
  margin: 0;
  padding: 0;
}

body {
  font: 400 0.8em/150% "adelle", "Georgia", serif;
  background-color: #ffffff;
  color: #6d645e;
}

.caps {
  text-transform: uppercase;
}

.container {
  width: 100%;
  margin: 0 auto;
  height: auto;
  background-repeat: no-repeat;
}


/* =====
T0P OF PAGE
=====================================   */

.topbox {
  font: 400 0.9em "proxima-nova-condensed", "Arial Narrow" sans-serif;
  background-color: #eaebe8;
  padding: 20px;
  padding-left: 225px;
}

.topbox a {
  font: 400 1em "proxima-nova-condensed", sans-serif;
  color: #6d645e;
  text-decoration: none;
}

.rightpad {
  padding-right: 5px;
}

.leftpad {
  padding-left: 5px;
}

.topbox a:hover {
  text-decoration: underline;
}

.top-right {
  float: right;
  margin-top: -10px;
}

.logreg {
  display: inline-block;
  margin: 0 5px;
}

.logcart {
  display: inline-block;
  position: relative;
  color: #fff;
  margin: 0 5px;
}

.logcart-icon a {
  display: inline-block;
  margin: auto 5px;
  border-radius: 50%;
  position: relative;
  background-color: #608c48;
  padding: 8px;
  font-size: 16px;
  color: white;
}

.logcart-icon a:hover {
  background-color: #47423d;
}

.searchboxwrapper {
  display: inline-block;
  position: relative;
}

.searchbox {
  border: 1px solid #F2F2F2;
  outline: none;
  font: italic 400 0.9em "adelle", "Georgia", serif;
  width: 175px;
  height: 26px;
  background: #fff;
  padding-left: 10px;
  display: inline-block;
}

.searchsubmit {
  font: 16px 'Fontello';
  width: 29px;
  height: 26px;
  border: 1px solid none;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: #47423d;
  cursor: pointer;
}

.page-top {
  background-image: url("/img/mountains.jpg");
  width: 100%;
  height: 275px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.page-top h1 {
  margin-top: 105px;
  margin-left: 350px;
  position: absolute;
  font: 900 5em "proxima-nova-condensed", sans-serif;
  color: white;
}

.page-top div {
  margin-top: 180px;
  margin-left: 350px;
  position: absolute;
  width: 350px;
  font: italic 200 1.2em "adelle", "Georgia", serif;
  color: white;
}


/*=====
SIDEBAR
==========================================*/

.menu ul li a:hover {
  background-color: none;
  color: #fff;
  text-decoration: none;
  display: block;
}

#sidebar {
  width: 185px;
  padding: 0;
  float: left;
  margin: 15px;
  z-index: 10;
}

.sidebar {
  background-image: url("/img/birds-bg.jpg");
  color: white;
}

.sidebar > ul > li {
  clear: left;
  position: relative;
  padding: 5px 10px;
  font: 400 1em "proxima-nova-condensed", sans-serif;
  height: 1.4em;
  color: #fff;
  display: block;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.sidebar > ul > li > ul {
  position: absolute;
  top: 0;
  width: 275px;
  list-style-type: none;
  font: 400 1em "proxima-nova-condensed", sans-serif;
  margin: 5px 10px;
  background-color: #608c48;
  z-index: 900;
  display: none;
}

.sidebar > ul > li ul li,
.sidebar > ul > li ul li.a {
  display: block;
  background-color: #608c48;
  color: #fff;
  padding: 5px 10px;
  height: 1.4em;
  z-index: 910;
  cursor: pointer;
}


/*--positions the arrow image--*/

.arrow:after {
  display: inline-block;
  font-family: "Fontello";
  text-decoration: none;
  float: right;
  height: auto;
}

.sidebar li span:after {
  content: '\e802';
}

.sidebar li:before {
  content: "";
}

.logo-sidebar {
  background-color: #47423d;
  width: 145px;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.logo-sidebar img {
  max-height: auto;
  max-width: 120px;
}

.underside {
  width: 185px;
  padding: 10px 0;
  text-align: left;
}

.underside img {
  float: left;
  padding-right: 10px;
  display: inline-block;
}

.underside p {
  float: left;
  font: 600 1em "proxima-nova-condensed", sans-serif;
  display: inline-block;
  width: 100px;
  margin-top: 20px;
}

.undersearch {
  width: 185px;
  height: 10px;
  text-align: center;
}

.spacer {
  width: 185px;
  height: 10px;
  text-align: center;
}


/* =====
CONTENT
============================================ */

.page-content {
  margin: 0 20px 40px 250px;
  width: 575px;
}

.page-content-header {
  font: 700 1.8em "proxima-nova-condensed", sans-serif;
  padding-bottom: 1em;
  margin: 50px 20px 0 250px;
  width: 950px;
}

.page-content p {
  font: 400 1.1em/1.8em "adelle", serif;
  padding-bottom: 1.6em;
  color: #6d645e;
}

.photo {
  font: italic 400 1.2em "adelle", "Georigia", serif;
  text-align: center;
  width: 286px;
  margin: 0 40px;
  float: right;
}


/* =====
MEET THE FLOCK
=============================================== */

#flock {
  width: 100%;
  background-color: #eaebe8;
  padding: 25px 0;
}

.flock-container {
  width: 83%;
  margin-left: 17%;
}

.flock-container h3 {
  text-align: center;
  margin: 20px auto;
  font: 1.2em "proxima-nova-condensed", sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #6d645e;
  max-width: 200px;
}

.flock-container > ul > li {
  position: relative;
  height: 173px;
  width: 173px;
  list-style-type: none;
  display: inline-block;
  margin: 11px;
}

.flock-container ul li img {
  border-radius: 50%;
}

.picholder:hover .overlay {
  opacity: 1;
}

.picholder:hover .flock-pic {
  opacity: .85;
}

.picholder: hover .icon-hover {
  background-color: #2b2b2b;
}

.overlay {
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  height: 39px;
  width: 39px;
  margin: auto;
  background-image: url(/img/search.png);
  position: absolute;
  border-radius: 50%;
  opacity: 0;
}

.flock-names {
  color: #608c48;
  font: 900 1.4em "proxima-nova-condensed", sans-serif;
  text-align: center;
  width: 170px;
  margin-top: 10px;
}

.flock-detail {
  color: #6d645e;
  font: italic 400 1em "adelle", "Georgia", serif;
  text-align: center;
  width: 170px;
  margin-bottom: 10px;
}


/* =====
FOOTER
====================================================*/

footer {
  clear: right;
  width: 100%;
  margin: 0 auto;
  background-color: #47423d;
  margin-bottom: 10px;
  text-align: center;
  padding: 25px 0;
}

.links {
  text-align: center;
  font-family: "proxima-nova-condensed", sans-serif;
  color: white;
}

.links a {
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.logo-footer img {
  max-height: 60px;
  max-width: auto;
  margin: auto 40px;
}

.tagline {
  font: italic 400 0.8em "adelle", "Georgia", serif;
  color: white;
}

.tagline img {
  display: inline-block;
  vertical-align: middle;
}

.caddis {
  margin: 0 15px;
}

.caddis img {
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

ul.social {
 /* margin: 10px;*/
  /*margin-left: 0;*/
  list-style: none;
  font-size: 16px;
}
ul.social li {
    display: inline-block;
  margin: 5px 5px 20px 5px;
}
ul.social li a {

/* margin-top: -10px;*/
  border-radius: 50%;
  padding: 8px;
  color: #fff;
  font-size: 16px;
  background-color: #608c48;
}

ul.social li a:hover {
  background-color: #6d645e;
  padding:8px;
  border-radius: 50%;
}
